@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilizaçoes gerais */
.bold {
    font-weight: bold;
}

.container_initial {
    background-color: #000000;
    border-radius: 5px;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    font-family: "Montserrat", sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

nav > p{
    font-size: 1.2rem;
    font-weight: 500;

}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links > a {
    color:white;
    font-weight: 300;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.5s ease;

    margin: 0px 15px;
}

.links > a:hover {
    font-weight: 400;
}

.icons_contact {
    max-height: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-weight: 100;
}

.text_item {
    margin-bottom: 10px;
}